.venv/

__pycache__/

.pytest_cache/

.vscode/

*.pyc

.env

raw/

processed/

data/

# Large files exceeding GitHub 100MB limit
"event/25-07-2026 FCAJ x AABW/OneTeam_CommunityDay.pptx"
OneTeam_CommunityDay.pptx